* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.game-board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns:100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    flex-wrap: wrap;
    gap: 10px;
    width: 800px;
    background-color: antiquewhite;
    height: 500px;
}
.game-board div {
    /* width: 50px; */
    /* height: 150px; */
    border: 5px solid black;
    border-radius: 10px;
}

.control {
    margin: auto;
}
.sqaure {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.names {
    display: none;
}
.active {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    gap: 50px;
}